<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Đường dẫn đến file danh sách các file cần copy -->
		<add key="FileListPath" value="E:\fileListOld.txt" />
		<!-- Đường dẫn thư mục nguồn -->
		<add key="SourceDirectory" value="E:\GIT backlog\Git Backlog\AssignApp_DbProcedure_Dev" />
	</appSettings>
</configuration>